/* ********** ********** ********** ********** ********** ********** ********** */

body{
	background-color : black;
}

#jeu{
	background-color : white;
	width : 400;
	height : 600;
	margin : auto;
}

#bleu {

}

#rose{


}

#vert{


}

#jaune{


}
