/* ********** ********** ********** ********** ********** ********** ********** */

body{
	background-color : black;
}

#jeu{
	background-color : white;
	width : 400;
	height : 600;
	margin : auto;
}
.bloc{
        width:40;
        height:40;
        display:block;
        position:relative;
}

.bleu {
        background-color :blue;
}   

.rouge{
        background-color:red;

}

.vert{
        background-color:green;

}

.jaune{
        background-color:yellow;

}
